


body {
    font-family: 'Roboto', sans-serif;
    margin: 20;
    padding: 20;
    background: rgb(176, 181, 208)
  }

  .navbar {
    background-color: #403f56;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar label,
  .navbar select,
  .navbar input {
    margin-right: 15px;
  }
  
  .navbar label {
    color: #ffffff;
    font-weight: bold;
  }
  
  .navbar input,
  .navbar select {
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
  }
  
  .navbar input:focus,
  .navbar select:focus {
    outline: none;
    border-color: #f8f8f8;
  }
 
  .content{  
    padding:10% 15%;
    text-align:justify
  }
  .btn{
    color:#333;
    border:2px solid;
    border-radius:3px;
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    font-weight:600
  }
  
  #productList {
    width: 80%;
    margin: 20px auto;
    background-color:rgb(176, 181, 208);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .filter {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: rgb(176, 181, 208);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  #products {
    display: flex;
    flex-wrap: wrap-reverse;

  }
  
  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(119, 57, 57, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
  
  .product-details {
    flex: 1;
    padding: 15px;
  }
  
  .product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  h3 {
    margin-top: 0;
  }